<div class="container">

  List

  <ul>
    <li ng-repeat="task in tasks">
      <strike ng-if="task.complete">
        {{ task.text }}
      </strike>
      <span ng-if="!task.complete">
        {{ task.text }} <button ng-click="completeTask(task)">Complete</button> <button ng-click="removeTask(task)">Remove</button>
      </span>
    </li>
  </ul>

  <div class="form-inline">
    <input class="form-control" ng-model="newTask.text" type="text" placeholder="Enter a task" autofocus>
    <button class="btn btn-primary" ng-click="addTask(newTask)">Add</button>
  </div>

</div>
